@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700');

.page {
    min-height: 100vh;
    background-image: linear-gradient(
            180deg,
            #fae1e9,
            #ffc4e4,
            #ff9fd1,
            #ff71b9
    );
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    font-size: xxx-large;
    text-align: center;
    padding: 20px 0;
}

h1, p, input, select, option {
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: 400;*/
    font-style: normal;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: x-large;
}

input, select {
    font-size: larger
}

option {
    font-size: large;
}

option:hover {
    background-color: #ff9fd1;
}

input, select, option {
    border-radius: 15px;
    border: 1px solid black;
    text-align: center;
    width: 160px;
}

.always-row-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-items-container-no-space {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-items-container input, select{
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
    justify-content: center;
    /*margin-left: 20px;*/
}

@media (max-width: 1390px) {
    .row-items-container {
        flex-direction: column;
    }
}

.bordered-container {
    padding: 30px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 30px;
}

.column-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delete-button {
    width: 40px;
    height: 40px;
    background-color: tomato;
    padding: 15px 20px;
    border-radius: 50%;
    border-style: none;
    font-size: larger;
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.usual-rounded-button {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
    padding: 15px 20px;
    border-radius: 50%;
    border-style: none;
    font-size: larger;
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.usual-button {
    padding: 10px 5px;
    border-style: none;
    border-radius: 20px;
    background-color: blueviolet;
    font-size: larger;
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: antiquewhite;
    margin: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    text-align: center;
}

thead {
    background-color: #ff0085;
}

tbody {
    background-color: #fae1e9;
}